# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# PostgreSQL backups
*.sql
*.dump

# Optional: skip build if using a frontend later
client/build/
dist/
